.seatsContainer {
    width: 330px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seatItem {
    font-family: 'Roboto';
    font-size: 11px;

    background-color: #C3CFD9;
    height: 25px;
    width: 25px;
    margin: 5px 3px;
    border-radius: 25px;
    border: 1px solid #7B8B99;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seatItem:hover {
    cursor: pointer;
}

.disabled {
    border-color: #F7C52B;
    background-color: #FBE192;
}

.selected {
    border-color: #0E7D71;
    background-color: #1AAE9E;
}

/* .seatItem:disabled {
    border-color: #F7C52B;
    background-color: #FBE192;
} */