.wrapper {
    font-family: 'Roboto';
    text-align: center;
    font-size: 24px;
    color: #293845;

    margin-top: 30px;
    padding-top: 70px;
    padding-bottom: 120px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper div {
    margin-top: 20px;
}

.session {
    font-family: 'Roboto';
    color: #293845;
    font-size: 20px;

    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttonsContainer {
    margin: 20px 0;

    display: flex;
    flex-direction: row;
}

.buttonsContainer button {
    margin-right: 20px;
}

.buttonsContainer a {
    text-decoration: none;
}